POSTGRES_USER=userlogin
POSTGRES_PASSWORD=userpassword
POSTGRES_DB=dbname

APP_CONFIG__DB__URL=postgresql+asyncpg://login:password@hostport/dbname
APP_CONFIG__DB__ECHO=1

APP_CONFIG__EMAIL__LOGIN=sender_login
APP_CONFIG__EMAIL__PASSWORD=sender_password
APP_CONFIG__EMAIL__SENDTO=target_email

APP_CONFIG__SECURITY__KEY=hcaptcha_secret_key

APP_CONFIG__SECURITY__ADMIN_LOGIN=admin_panel_login
APP_CONFIG__SECURITY__ADMIN_PASSWORD=admin_panel_password